@mixin border($color) {
  position: relative;
   &::after {
     display: block;
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     border: 1px solid $color;
   }
}
@mixin bg($url) {
  background-image: url($url + "@2x.png");
   @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
     background-image: url($url + "@3x.png");
   }
 }
@mixin font() {
  font-size: 20/$rem+rem;
  line-height: 24/$rem+rem;
  color: rgb(147, 153, 159);
}

body, html {
  font-weight: 200;
  line-height: 1;
  font-family: 'PingFang SC','STHeiti', 'Helvetica', Arial, 'SansSerif';
}
